.cd_info_project {
    height: calc(100vh - 100px);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: flex-start;
    
    h2,
    h3 {
        color: $movie-green;
        font-family: 'JetBrains Mono regular';
        -webkit-clip-path: inset(100% 0 0 0);
        clip-path: inset(100% 0 0 0);
        transition: clip-path 1.25s cubic-bezier(0.02, 1.2, 0.62, 0.98);
        text-transform: capitalize;
    }
    h3{
        font-family: $font-subtitle
    }
    h2 {
        font-family: $font-title;
    }

    p {
        font-family: $font-little;
        font-size: 0.8em;
        -webkit-clip-path: inset(100% 0 0 0);
        clip-path: inset(100% 0 0 0);
        transition: clip-path 1s cubic-bezier(0.02, 1.2, 0.62, 0.98);
        line-height: 1.5;
    }
    .linkProject{
        font-size: 0.8em;
    }
    .two_info_project {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        div {
            width: 45%;
        }
    }

    .info_project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        h3 {
            font-size: 2em;
            text-transform: capitalize;
        }
    }
}

.cd_image_project {
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50vh;
    height: max-content;
    overflow-y: initial !important;
    div {
        &.project_cd_media {
            aspect-ratio: 16/9;
            width: 45%;
            overflow: hidden;
            position: relative;
            clip-path: inset(50% 0 50% 0);
            transition: clip-path 1.2s cubic-bezier(0, 0.96, 0.27, 1.01);
            img {
                width: 100%;
                object-fit: contain;
                position: absolute;
                top: 100px;
                left: 0;
                transform-origin: 'bottom';
            }
            &:nth-child(1){
                img{
                    top: 20vh;
                  }
            }
            &.mediaProject3{
                aspect-ratio: 16/12;
                clip-path: inset(0 100% 0 0);
            }
            &.mediaProject2{
                margin-top: 100px;
            }
            &.mediaProject4{
                aspect-ratio: 16/11;
                clip-path: inset(0 0 0 100%);
            }
            &.mediaProject5{
                aspect-ratio: 13/16;
                margin-top: -200px;
                img{
                    top: 200px;
                }
            }
            &.mediaProjectPhantom{
                width: 45%;
                margin-top: 0;
                clip-path: none;
                display: flex;
                justify-content: center;
                align-items: center;
                .arrow-up {
                    height: 40px;
                    width: 40px;
                    display: block;
                    position: relative;
                    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
                    overflow: hidden;
                    .left-arm {
                        position: absolute;
                        z-index: 1;
                        background-color: transparent;
                        top: 19px;
                        left: 3px;
                        width: 20px;
                        display: block;
                        transform: rotate(-45deg);
                        &:after {
                            content: "";
                            background-color: $white;
                            width: 20px;
                            height: 3px;
                            display: block;
                            border-radius: 1px;
                            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
                            transform-origin: right center;
                            z-index: -1;
                        }
                    }
                    .right-arm {
                        position: absolute;
                        z-index: 1;
                        background-color: transparent;
                        top: 19px;
                        left: 17px;
                        width: 20px;
                        display: block;
                        transform: rotate(45deg);
                        border-radius: 2px;
                        &:after {
                            content: "";
                            background-color: $white;
                            width: 20px;
                            height: 3px;
                            display: block;
                            border-radius: 1px;
                            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
                            transform-origin: left center;
                            z-index: -1;
                        }
                    }
                    &:hover {
                        transition: all 0.1s;
                    }
                    &:hover .left-arm:after {
                        transform: rotate(-10deg);
                    }
                    &:hover .right-arm:after {
                        transform: rotate(10deg);
                    }
                }
            }
            iframe {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
    
}
