.cd_info_project {
    height: calc(100vh - 200px);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    margin-top: 100px;
    align-self: flex-start;
    h2,
    h3 {
        color: $movie-green;
        font-family: 'JetBrains Mono regular';
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    h2 {
        font-family: 'JetBrains Mono semibold';
    }

    p {
        font-family: 'JetBrains Mono light';
        font-size: 0.8em;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .two_info_project {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        div {
            width: 45%;
        }
    }

    .info_project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        h3 {
            font-size: 2em;
            text-transform: capitalize;
        }
    }
}

.cd_image_project {
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin-block: 100px;
    height: auto;

    div {
        &.project_cd_media {
            aspect-ratio: 16/9;
            width: 45%;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                object-fit: contain;
                position: absolute;
                top: 0;
                left: 0;
            }

            iframe {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }

        &.project_cd_text {
            font-size: 3.5em;
            font-family: $font-subtitle;
            width: 45%;
            padding-block: 5vh;
        }

        &.text1 {
            text-align: right;
        }

        &.text2 {
            text-align: center;
            z-index: -1;
        }

        &.text3 {
            text-align: left;
        }

        p {

            mix-blend-mode: difference;
        }
    }
}