// 
.pointer{
    position: absolute;
    width: 30px;
    z-index: 10;
    height: 30px;
    background-color: $white;
    mix-blend-mode:difference;
    border-radius: 50%;
    opacity: 1;
    animation: blob 10s linear infinite;
    transition: width 0.2s ease-in-out, 
                opacity 0.3s ease-in-out,
                height 0.2s ease-in-out,
                background-color 0.1s ease-in-out, 
                border 0.2s ease-in-out;
  }
  .pointerbis{
    border: 1px solid $white;
    width: calc(6vh + 6vw);
    height: calc(1vh + 5vw);
    opacity: 0.01;
    background-color: transparent;
    
  }
   
  @keyframes blob {
    0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
      20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
      40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
      60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
      80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
  }
  