.overlay_transition{
    position: fixed;
    top: 0;
    right: 0;
    background-color: $black;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;
    clip-path: circle(70% at 50% 50%);
    .toggle_loader{
        aspect-ratio: 1;
    }
    .cd_nom_page{
        position: absolute;
        overflow: hidden;
        .nom_page{
            position: absolute;
            top: 50vh;
        }
        .novisible{
            opacity: 0;
        }
    }
}