.overlay_transition{
    position: fixed;
    top: 0;
    right: 0;
    background-color: $black;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    clip-path: circle(70% at 50% 50%);
    .toggle_loader{
        margin: 0;
        padding: 0;
        bottom: inherit;
    }
}