.overlay_transition{
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    clip-path: circle(70% at 50% 50%);
    .toggle_loader{
        margin: 0;
        padding: 0;
        bottom: inherit;
    }
    h1{
        background-color: $black;
        height: 40vh;
        padding-inline: 7vw;
        display: flex;
        align-items: center;
        justify-content: center;
        &.givernaud_loader{
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        }
        &.nom_page{
            position: absolute;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        }
    }
}