
*{
  box-sizing: border-box;
  cursor: none;
  margin: 0;
  padding: 0;
}


html, body{
  scroll-behavior: smooth;

  height: 100%;
  }

body {
  box-sizing: border-box;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1; 
  @include media-tablette {
    overflow-x: hidden;
} 
  &::before {
    content: '';
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(#0000 0.0000045%, #000 0.00005%);
    mix-blend-mode: overlay;
    opacity: 0.35;
    z-index: 2;
    pointer-events: none;
} 
}

main, #mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#web{
  width: clamp(350px, 85vw, 1300px);
}
#laptop{
  width: clamp(1081px, 90vw, 1300px); 
  @include media-laptop {
    display: none;
} 
}
#mobile{
  @include media-tablette {
      display: none;
  }  
}

a{
  text-decoration: none;
  color: $white;
}