:root{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width:100%;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  @include media-tablette {
    overflow-x: hidden;
  } 
}

#laptop{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: clamp(1081px, 90vw, 1300px);
  @include media-laptop {
      display: none;
  }  
}
#mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include media-tablette {
      display: none;
  }  
}

section{
  @include media-tablette {
    padding-inline: 50px;
} 
  height: 100vh;
}

a{
  text-decoration: none;
  color: $white;
}
