@font-face {
    font-family: 'Nexa light';
    src: url('../fonts/Nexa-Light.woff2') format('woff2'),
        url('../fonts/Nexa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa regular';
    src: url('../fonts/Nexa-Regular.woff2') format('woff2'),
        url('../fonts/Nexa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swifted';
    src: url('../fonts/SwiftedDEMO.woff2') format('woff2'),
        url('../fonts/SwiftedDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ginger';
        src: 
            url('../fonts/Ginger.woff') format('woff');
}


body{
    font-size: 16px;
    font-family: $font-normal;
}
header{
    font-family: $font-subtitle;
    .close, .menu{
        font-family: $font-normal;
        text-transform: uppercase;
    }
    .overlay_header{
        font-size: clamp(20px, 6.5vw, 5em);
        font-weight: 100;
        @media screen and (max-width: 750px) {
            font-size: clamp(2em, 5.5vw, 5em);
        }
        .header_gauche{
            .li_hover{
                font-family: $font-normal;
                font-weight: 500;
            }
        }
        .header_droite{
            .social_media{  
                font-size: 16px;
            }
            .contact_header{
                font-family: $font-little;
                h6{
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .copyright{
            font-size: 16px;
            font-family: $font-little;
            font-weight: 100;
        }
    }   
}

footer{
    font-family: $font-subtitle;
    .close, .menu{
        font-family: $font-normal;
        text-transform: uppercase;
    }
    .section_footer{
        font-size: clamp(20px, 6.5vw, 5em);
        font-weight: 100;
        @media screen and (max-width: 750px) {
            font-size: clamp(2em, 5.5vw, 5em);
        }
        .footer_droite{
            form{  
                font-family: $font-normal;
                font-size: 30px;
            }
        }
        .copyright{
            font-size: 16px;
            font-family: $font-little;
            font-weight: 100;
        }
    }   
}

h1{
    font-family: $font-title;
    font-style: normal;
    font-size: clamp(8em, 15vw, 10em);
        @media screen and (max-width: 750px) {
            font-size: clamp(3em, 14vw, 6em)
        }
}
h2{
    font-family: $font-subtitle;
    font-size: clamp(3em, 7vw, 6em);
    @media screen and (max-width: 520px) {
        font-size: clamp(2em, 10vw, 3em);
    }
}
.bi{
    font-size: 1em;
}
