@font-face {
    font-family: 'Retro Boldy';
    src: url('../fonts/RetroBoldy-Regular.woff2') format('woff2'),
        url('../fonts/RetroBoldy-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

section{
    font-family: 'Retro Boldy';
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
}
