/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nexa light";
  src: url("../fonts/Nexa-Light.woff2") format("woff2"), url("../fonts/Nexa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa regular";
  src: url("../fonts/Nexa-Regular.woff2") format("woff2"), url("../fonts/Nexa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Swifted";
  src: url("../fonts/SwiftedDEMO.woff2") format("woff2"), url("../fonts/SwiftedDEMO.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ginger";
  src: url("../fonts/Ginger.woff") format("woff");
}
body {
  font-size: 16px;
  font-family: "Nexa regular";
}

header {
  font-family: "Ginger";
}
header .close, header .menu {
  font-family: "Nexa regular";
  text-transform: uppercase;
}
header .overlay_header {
  font-size: clamp(20px, 6.5vw, 5em);
  font-weight: 100;
}
@media screen and (max-width: 750px) {
  header .overlay_header {
    font-size: clamp(2em, 5.5vw, 5em);
  }
}
header .overlay_header .header_gauche .li_hover {
  font-family: "Nexa regular";
  font-weight: 500;
}
header .overlay_header .header_droite .social_media {
  font-size: 16px;
}
header .overlay_header .header_droite .contact_header {
  font-family: "Nexa light";
}
header .overlay_header .header_droite .contact_header h6 {
  font-size: 20px;
}
header .overlay_header .header_droite .contact_header p {
  font-size: 16px;
}
header .overlay_header .copyright {
  font-size: 16px;
  font-family: "Nexa light";
  font-weight: 100;
}

footer {
  font-family: "Ginger";
}
footer .close, footer .menu {
  font-family: "Nexa regular";
  text-transform: uppercase;
}
footer .section_footer {
  font-size: clamp(20px, 6.5vw, 5em);
  font-weight: 100;
}
@media screen and (max-width: 750px) {
  footer .section_footer {
    font-size: clamp(2em, 5.5vw, 5em);
  }
}
footer .section_footer .footer_droite form {
  font-family: "Nexa regular";
  font-size: 30px;
}
footer .section_footer .copyright {
  font-size: 16px;
  font-family: "Nexa light";
  font-weight: 100;
}

h1 {
  font-family: "Swifted";
  font-style: normal;
  font-size: clamp(8em, 15vw, 10em);
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: clamp(3em, 14vw, 6em);
  }
}

h2 {
  font-family: "Ginger";
  font-size: clamp(3em, 7vw, 6em);
}
@media screen and (max-width: 520px) {
  h2 {
    font-size: clamp(2em, 10vw, 3em);
  }
}

.bi {
  font-size: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  background-color: #1a1a1a;
  overflow-x: hidden;
  color: #efeee5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(350px, 90vw, 1200px);
}

section {
  padding-inline: 50px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #efeee5;
}

header .menu_toggle {
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  right: 50px;
  top: 50px;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
  color: #efeee5;
  mix-blend-mode: difference;
}
@media screen and (max-width: 750px) {
  header .menu_toggle {
    right: calc(100% - 100px);
  }
}
header .menu_toggle span {
  height: 2px;
  background-color: #efeee5;
}
header .menu_toggle span:nth-child(1) {
  width: 100%;
}
header .menu_toggle span:nth-child(2) {
  width: 50%;
}
header .menu_toggle .menu {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header .menu_toggle .close {
  position: absolute;
  top: 12.5px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  padding-block: 1px;
}
header .overlay_header {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #1a1a1a;
  top: -100vh;
  left: 0;
  color: #efeee5;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 670px) {
  header .overlay_header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header {
    padding-bottom: 100px;
  }
}
header .overlay_header .copyright {
  position: absolute;
  top: 62.5px;
  height: min-content;
}
@media screen and (max-width: 750px) {
  header .overlay_header .copyright {
    right: 50px;
    width: max-content;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header .copyright {
    top: calc(100vh - 50px);
    right: inherit;
  }
}
header .overlay_header .header_gauche {
  position: relative;
  width: 30%;
}
header .overlay_header .header_gauche nav {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 50px;
}
@media screen and (max-width: 750px) {
  header .overlay_header .header_gauche nav {
    height: 60vh;
  }
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_gauche nav {
    padding: 0;
    width: 100%;
  }
}
header .overlay_header .header_gauche nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_gauche nav ul {
    align-items: center;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header .header_gauche nav ul {
    text-align: center;
  }
}
header .overlay_header .header_gauche nav ul li {
  position: relative;
  width: 100%;
}
header .overlay_header .header_gauche nav ul li a i {
  position: absolute;
  top: -40px;
  left: -60px;
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
  transition: opacity ease-in-out 0.3s;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_gauche nav ul li a i {
    display: none;
  }
}
header .overlay_header .header_gauche nav ul li a i.head_01 {
  left: -40px;
}
@media screen and (max-width: 750px) {
  header .overlay_header .header_gauche nav ul li a i.head_01 {
    left: -45px;
  }
}
header .overlay_header .header_gauche nav ul li a div {
  position: relative;
  overflow: hidden;
  height: min-content;
}
header .overlay_header .header_gauche nav ul li a div div {
  display: flex;
}
header .overlay_header .header_gauche nav ul li a div div.li_hover {
  position: absolute;
  top: 100px;
  display: flex;
  z-index: 3;
  overflow: visible;
}
header .overlay_header .header_gauche nav ul li a div div p {
  transition: opacity ease-in-out 0.3s;
}
header .overlay_header .header_gauche nav ul li:hover .li2 > p {
  color: black;
}
header .overlay_header .header_droite {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_droite {
    align-items: center;
    gap: 25px;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header .header_droite {
    flex-direction: column-reverse;
    height: min-content;
  }
}
header .overlay_header .header_droite .social_media {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 410px) {
  header .overlay_header .header_droite .social_media {
    position: initial;
    flex-direction: row;
    height: min-content;
  }
}
header .overlay_header .header_droite .social_media .rond_sm {
  border: 1px solid #efeee5;
  border-radius: 50%;
  padding: 12.5px;
  transition: all 0.3s ease-in-out;
}
header .overlay_header .header_droite .social_media .rond_sm .bi {
  transition: color 0.3s ease-in-out;
}
header .overlay_header .header_droite .social_media .rond_sm:hover {
  border-color: #A5E8D3;
}
header .overlay_header .header_droite .social_media .rond_sm:hover .bi {
  color: #A5E8D3;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_droite .contact_header {
    text-align: center;
  }
}
header .overlay_header .header_droite .contact_header h6 {
  opacity: 0.5;
  padding-bottom: 10px;
}
header .overlay_header .header_droite .home_link {
  border-bottom: 2px solid #efeee5;
}

footer a {
  color: #1a1a1a;
}
footer .section_footer {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #efeee5;
  color: #1a1a1a;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 670px) {
  footer .section_footer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer {
    padding-bottom: 100px;
  }
}
footer .section_footer .copyright {
  position: absolute;
  top: 62.5px;
  height: min-content;
}
@media screen and (max-width: 750px) {
  footer .section_footer .copyright {
    right: 50px;
    width: max-content;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer .copyright {
    top: calc(100vh - 50px);
    right: inherit;
  }
}
footer .section_footer .footer_gauche {
  position: relative;
}
footer .section_footer .footer_gauche nav {
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 50px;
}
@media screen and (max-width: 750px) {
  footer .section_footer .footer_gauche nav {
    height: 60vh;
  }
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_gauche nav {
    padding: 0;
  }
}
footer .section_footer .footer_gauche nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_gauche nav ul {
    align-items: center;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer .footer_gauche nav ul {
    text-align: center;
  }
}
footer .section_footer .footer_gauche nav ul li {
  position: relative;
}
footer .section_footer .footer_gauche nav ul li i {
  position: absolute;
  top: -40px;
  left: -60px;
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_gauche nav ul li i {
    display: none;
  }
}
footer .section_footer .footer_gauche nav ul li i.head_01 {
  left: -40px;
}
@media screen and (max-width: 750px) {
  footer .section_footer .footer_gauche nav ul li i.head_01 {
    left: -45px;
  }
}
footer .section_footer .footer_droite {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_droite {
    align-items: center;
    gap: 25px;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer .footer_droite {
    flex-direction: column-reverse;
    height: min-content;
  }
}
footer .section_footer .footer_droite form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .section_footer .footer_droite form div {
  position: relative;
}
footer .section_footer .footer_droite form div label {
  position: absolute;
}
footer .section_footer .footer_droite form div input[type=text], footer .section_footer .footer_droite form div textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #1a1a1a;
  background: none;
}
footer .section_footer .footer_droite form div input[type=text]:focus, footer .section_footer .footer_droite form div textarea:focus {
  border: 1px solid #efeee5;
}

.wrap_loader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 4;
  background-color: #1a1a1a;
}

.hero {
  height: 100vh;
  background-color: #1a1a1a;
  color: #efeee5;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .enzo_givernaud {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero .enzo_givernaud .enzo_creative,
.hero .enzo_givernaud .givernaud_developer {
  overflow: hidden;
  position: relative;
}
.hero .enzo_givernaud .enzo_creative h1,
.hero .enzo_givernaud .givernaud_developer h1 {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.hero .enzo_givernaud .enzo_creative .overlay_hero,
.hero .enzo_givernaud .givernaud_developer .overlay_hero {
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: #efeee5;
}
.hero .enzo_givernaud .enzo,
.hero .enzo_givernaud .creative,
.hero .enzo_givernaud .givernaud,
.hero .enzo_givernaud .developer {
  position: absolute;
  top: 0;
}
.hero .enzo_givernaud .bigzoo {
  opacity: 0;
}
.hero .enzo_givernaud .creative,
.hero .enzo_givernaud .developer {
  top: 160px;
}
.hero .wrap_text_scrolling {
  position: absolute;
  width: 50%;
  overflow-x: hidden;
  height: 10vh;
  z-index: 3;
  bottom: 7.5vh;
  left: 50%;
  transform: translateX(-50%);
}
.hero .wrap_text_scrolling .text_scrolling {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
.hero .wrap_text_scrolling .text_scrolling span {
  display: inline-block;
  padding-left: 100%;
  animation: text_scrolling 40s linear infinite;
}
.hero .wrap_text_scrolling .text_scrolling span i {
  padding-inline: 20px;
}
.hero .wrap_text_scrolling .text_scrolling2 span {
  animation-delay: 20s;
}

@keyframes text_scrolling {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}
@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}
.audiovisuel_project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #A5E8D3;
}
.audiovisuel_project .cd_affiche {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.audiovisuel_project .cd_affiche .marker {
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.audiovisuel_project .cd_affiche #container_image_audiovisuel img {
  width: clamp(300px, 100px + 50vw, 800px);
}
.audiovisuel_project .cd_affiche .titre_film {
  position: absolute;
  bottom: -75px;
  left: -50px;
  overflow: hidden;
  width: 100%;
  height: 22vh;
}
@media screen and (max-width: 520px) {
  .audiovisuel_project .cd_affiche .titre_film {
    bottom: -20px;
    left: -20px;
  }
}
.audiovisuel_project .cd_affiche .titre_film div {
  display: flex;
  position: absolute;
}
.audiovisuel_project .cd_affiche .titre_film div.titre1 {
  top: 2vh;
}
.audiovisuel_project .cd_affiche .titre_film div.titre2 {
  top: 22vh;
}
.audiovisuel_project .cd_affiche .titre_film div.titre3 {
  top: 22vh;
}
.audiovisuel_project .cd_affiche .titre_film div .space {
  padding-inline: 1.5vw;
}
.audiovisuel_project .cd_affiche .cd_movie {
  position: absolute;
  left: -100px;
  top: -75px;
  overflow: hidden;
  width: 10vw;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie {
  position: absolute;
  transform: rotate(-90deg);
  left: 0;
  color: #efeee5;
  font-size: 3em;
}
@media screen and (max-width: 520px) {
  .audiovisuel_project .cd_affiche .cd_movie h2.movie {
    display: none;
  }
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie:nth-child(1) {
  bottom: 50px;
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie:nth-child(2) {
  bottom: -150px;
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie:nth-child(3) {
  bottom: -250px;
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre {
  position: absolute;
  top: clamp(-35px, -8vw, -50px);
  right: -30px;
  overflow: hidden;
}
@media screen and (max-width: 520px) {
  .audiovisuel_project .cd_affiche h2.audiovisuel_chiffre {
    right: 0px;
    top: -20px;
  }
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre i:nth-child(n+2) {
  position: absolute;
  left: 6vw;
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre i:nth-child(n+3) {
  top: 100px;
  display: block;
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre i span {
  visibility: hidden;
}

.inutile {
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
