/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nexa light";
  src: url("../fonts/Nexa-Light.woff2") format("woff2"), url("../fonts/Nexa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa regular";
  src: url("../fonts/Nexa-Regular.woff2") format("woff2"), url("../fonts/Nexa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Swifted";
  src: url("../fonts/SwiftedDEMO.woff2") format("woff2"), url("../fonts/SwiftedDEMO.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ginger";
  src: url("../fonts/Ginger.woff") format("woff");
}
@font-face {
  font-family: "JetBrains Mono light";
  src: url("../fonts/JetBrainsMono-Light.woff2") format("woff2"), url("../fonts/JetBrainsMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono regular";
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"), url("../fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono semibold";
  src: url("../fonts/JetBrainsMono-SemiBold.woff2") format("woff2"), url("../fonts/JetBrainsMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 16px;
  font-family: "Nexa regular";
}

header {
  font-family: "Ginger";
}
header .close, header .menu {
  font-family: "Nexa regular";
  text-transform: uppercase;
}
header .overlay_header {
  font-size: clamp(20px, 6.5vw, 5em);
  font-weight: 100;
}
@media screen and (max-width: 750px) {
  header .overlay_header {
    font-size: clamp(2em, 5.5vw, 5em);
  }
}
header .overlay_header .header_gauche .li_hover {
  font-family: "Nexa regular";
  font-weight: 500;
}
header .overlay_header .header_droite .social_media {
  font-size: 16px;
}
header .overlay_header .header_droite .contact_header {
  font-family: "Nexa light";
}
header .overlay_header .header_droite .contact_header h6 {
  font-size: 20px;
}
header .overlay_header .header_droite .contact_header p {
  font-size: 16px;
}
header .overlay_header .copyright {
  font-size: 16px;
  font-family: "Nexa light";
  font-weight: 100;
}

footer {
  font-family: "Ginger";
}
footer .close, footer .menu {
  font-family: "Nexa regular";
  text-transform: uppercase;
}
footer .section_footer {
  font-size: clamp(20px, 6.5vw, 5em);
  font-weight: 100;
}
@media screen and (max-width: 750px) {
  footer .section_footer {
    font-size: clamp(2em, 5.5vw, 5em);
  }
}
footer .section_footer .footer_droite form {
  font-family: "Nexa regular";
  font-size: 30px;
}
footer .section_footer .copyright {
  font-size: 16px;
  font-family: "Nexa light";
  font-weight: 100;
}

h1 {
  font-family: "Swifted";
  font-style: normal;
  font-size: clamp(8em, 15vw, 10em);
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: clamp(3em, 14vw, 6em);
  }
}

h2 {
  font-family: "Ginger";
  font-size: clamp(3em, 7vw, 6em);
}
@media screen and (max-width: 520px) {
  h2 {
    font-size: clamp(2em, 10vw, 3em);
  }
}

.bi {
  font-size: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  background-color: #1a1a1a;
  overflow-x: hidden;
  color: #efeee5;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(350px, 90vw, 1200px);
}

section {
  padding-inline: 50px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #efeee5;
}

header {
  z-index: 4;
}
header .menu_toggle {
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  right: 50px;
  top: 50px;
  overflow: hidden;
  cursor: pointer;
  z-index: 4;
  color: #efeee5;
}
@media screen and (max-width: 750px) {
  header .menu_toggle {
    right: calc(100% - 100px);
  }
}
header .menu_toggle span {
  height: 2px;
  background-color: #efeee5;
  mix-blend-mode: difference;
}
header .menu_toggle span:nth-child(1) {
  width: 100%;
}
header .menu_toggle span:nth-child(2) {
  width: 50%;
}
header .menu_toggle .menu {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header .menu_toggle .close {
  position: absolute;
  top: 12.5px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  padding-block: 1px;
}
header .overlay_header {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #1a1a1a;
  top: -100vh;
  left: 0;
  color: #efeee5;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 670px) {
  header .overlay_header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header {
    padding-bottom: 100px;
  }
}
header .overlay_header .copyright {
  position: absolute;
  top: 62.5px;
  height: min-content;
}
@media screen and (max-width: 750px) {
  header .overlay_header .copyright {
    right: 50px;
    width: max-content;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header .copyright {
    top: calc(100vh - 50px);
    right: inherit;
  }
}
header .overlay_header .header_gauche {
  position: relative;
  width: 30%;
}
header .overlay_header .header_gauche nav {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 50px;
}
@media screen and (max-width: 750px) {
  header .overlay_header .header_gauche nav {
    height: 60vh;
  }
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_gauche nav {
    padding: 0;
    width: 100%;
  }
}
header .overlay_header .header_gauche nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_gauche nav ul {
    align-items: center;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header .header_gauche nav ul {
    text-align: center;
  }
}
header .overlay_header .header_gauche nav ul li {
  position: relative;
  width: 100%;
}
header .overlay_header .header_gauche nav ul li a i {
  position: absolute;
  top: -40px;
  left: -60px;
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
  transition: opacity ease-in-out 0.3s;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_gauche nav ul li a i {
    display: none;
  }
}
header .overlay_header .header_gauche nav ul li a i.head_01 {
  left: -40px;
}
@media screen and (max-width: 750px) {
  header .overlay_header .header_gauche nav ul li a i.head_01 {
    left: -45px;
  }
}
header .overlay_header .header_gauche nav ul li a div {
  position: relative;
  overflow: hidden;
  height: min-content;
}
header .overlay_header .header_gauche nav ul li a div div {
  display: flex;
}
header .overlay_header .header_gauche nav ul li a div div.li_hover {
  position: absolute;
  top: 100px;
  display: flex;
  overflow: visible;
}
header .overlay_header .header_gauche nav ul li a div div p {
  transition: opacity ease-in-out 0.3s;
}
header .overlay_header .header_gauche nav ul li:hover .li2 > p {
  color: black;
}
header .overlay_header .header_droite {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_droite {
    align-items: center;
    gap: 25px;
  }
}
@media screen and (max-width: 410px) {
  header .overlay_header .header_droite {
    flex-direction: column-reverse;
    height: min-content;
  }
}
header .overlay_header .header_droite .social_media {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 410px) {
  header .overlay_header .header_droite .social_media {
    position: initial;
    flex-direction: row;
    height: min-content;
  }
}
header .overlay_header .header_droite .social_media .rond_sm {
  border: 1px solid #efeee5;
  border-radius: 50%;
  padding: 12.5px;
  transition: all 0.3s ease-in-out;
}
header .overlay_header .header_droite .social_media .rond_sm .bi {
  transition: color 0.3s ease-in-out;
}
header .overlay_header .header_droite .social_media .rond_sm:hover {
  border-color: #A5E8D3;
}
header .overlay_header .header_droite .social_media .rond_sm:hover .bi {
  color: #A5E8D3;
}
@media screen and (max-width: 670px) {
  header .overlay_header .header_droite .contact_header {
    text-align: center;
  }
}
header .overlay_header .header_droite .contact_header h6 {
  opacity: 0.5;
  padding-bottom: 10px;
}
header .overlay_header .header_droite .home_link {
  border-bottom: 2px solid #efeee5;
}

footer a {
  color: #1a1a1a;
}
footer .section_footer {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #efeee5;
  color: #1a1a1a;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 670px) {
  footer .section_footer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer {
    padding-bottom: 100px;
  }
}
footer .section_footer .copyright {
  position: absolute;
  top: 62.5px;
  height: min-content;
}
@media screen and (max-width: 750px) {
  footer .section_footer .copyright {
    right: 50px;
    width: max-content;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer .copyright {
    top: calc(100vh - 50px);
    right: inherit;
  }
}
footer .section_footer .footer_gauche {
  position: relative;
}
footer .section_footer .footer_gauche nav {
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 50px;
}
@media screen and (max-width: 750px) {
  footer .section_footer .footer_gauche nav {
    height: 60vh;
  }
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_gauche nav {
    padding: 0;
  }
}
footer .section_footer .footer_gauche nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_gauche nav ul {
    align-items: center;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer .footer_gauche nav ul {
    text-align: center;
  }
}
footer .section_footer .footer_gauche nav ul li {
  position: relative;
}
footer .section_footer .footer_gauche nav ul li i {
  position: absolute;
  top: -40px;
  left: -60px;
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_gauche nav ul li i {
    display: none;
  }
}
footer .section_footer .footer_gauche nav ul li i.head_01 {
  left: -40px;
}
@media screen and (max-width: 750px) {
  footer .section_footer .footer_gauche nav ul li i.head_01 {
    left: -45px;
  }
}
footer .section_footer .footer_droite {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
@media screen and (max-width: 670px) {
  footer .section_footer .footer_droite {
    align-items: center;
    gap: 25px;
  }
}
@media screen and (max-width: 410px) {
  footer .section_footer .footer_droite {
    flex-direction: column-reverse;
    height: min-content;
  }
}
footer .section_footer .footer_droite form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .section_footer .footer_droite form div {
  position: relative;
}
footer .section_footer .footer_droite form div label {
  position: absolute;
}
footer .section_footer .footer_droite form div input[type=text], footer .section_footer .footer_droite form div textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #1a1a1a;
  background: none;
}
footer .section_footer .footer_droite form div input[type=text]:focus, footer .section_footer .footer_droite form div textarea:focus {
  border: 1px solid #efeee5;
}

body {
  /* Mozilla firefox */
  scrollbar-color: #efeee5;
  /* Global */
  /* Fond */
  /* Ascenseur */
  /* Boutons */
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  position: relative;
  background-color: #1a1a1a;
}
body::-webkit-scrollbar-thumb {
  background: #efeee5;
  border-radius: 20px;
}
body::-webkit-scrollbar-button:single-button {
  display: none;
}

.overlay_transition {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1a1a1a;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: none;
  clip-path: circle(70% at 50% 50%);
}
.overlay_transition .toggle_loader {
  aspect-ratio: 1;
}
.overlay_transition .cd_nom_page {
  position: absolute;
  overflow: hidden;
}
.overlay_transition .cd_nom_page .nom_page {
  position: absolute;
  top: 50vh;
}
.overlay_transition .cd_nom_page .novisible {
  opacity: 0;
}

@keyframes pulsA {
  0% {
    box-shadow: inset 0 0 0 clamp(0.75rem, 1vw, 1.7rem) #efeee5;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #efeee5;
    opacity: 0;
  }
}
@keyframes pulsB {
  0%, 50% {
    box-shadow: 0 0 0 0 #efeee5;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 clamp(0.75rem, 1vw, 1.7rem) #efeee5;
    opacity: 1;
  }
}
@keyframes armToggleLoader1 {
  0% {
    width: 100%;
    left: 0;
  }
  25% {
    width: 25%;
    left: -50%;
  }
  50% {
    width: 50%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes armToggleLoader2 {
  0% {
    width: 50%;
    left: 0;
  }
  25% {
    width: 75%;
    left: 50%;
  }
  50% {
    width: 100%;
    left: -50%;
  }
  100% {
    width: 50%;
    left: 0;
  }
}
.wrap_loader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 5;
  background-color: #1a1a1a;
  color: #efeee5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrap_loader .overlay_loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  z-index: 5;
  display: none;
  clip-path: circle(0% at 50% 50%);
}
.wrap_loader h1 {
  text-transform: uppercase;
  font-size: clamp(2em, 10vw, 7.5em);
}
.wrap_loader .Loader {
  position: absolute;
  bottom: 0;
  bottom: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(90vw + 50vh);
}
.wrap_loader .Loader:before, .wrap_loader .Loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(0 0 clamp(0.75rem, 1vw, 1.7rem) rgba(239, 238, 229, 0.75));
}
.wrap_loader .Loader:before {
  width: calc(90vw + 50vh);
  padding-bottom: calc(90vw + 50vh);
  box-shadow: inset 0 0 0 clamp(0.75rem, 1vw, 1.7rem) #efeee5;
  animation-name: pulsA;
}
.wrap_loader .Loader:after {
  width: calc(90vw + 50vh - clamp(0.75rem, 1vw, 1.7rem) * 2);
  padding-bottom: calc(90vw + 50vh - clamp(0.75rem, 1vw, 1.7rem) * 2);
  box-shadow: 0 0 0 0 #efeee5;
  animation-name: pulsB;
}
.wrap_loader .Loader2 {
  bottom: 75vh;
}

.toggle_loader {
  width: 50px;
  aspect-ratio: 1/1;
  transform: translate(0, 5vh);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  color: #efeee5;
  mix-blend-mode: difference;
  bottom: 30vh;
}
.toggle_loader p {
  text-transform: uppercase;
  opacity: 0;
}
.toggle_loader span {
  height: 2px;
  background-color: #efeee5;
  position: absolute;
}
.toggle_loader span:nth-child(1) {
  width: 100%;
  top: 10px;
  left: 0;
  animation: armToggleLoader1 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.toggle_loader span:nth-child(2) {
  width: 50%;
  bottom: 10px;
  left: 0;
  animation: armToggleLoader2 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.hero {
  height: 100vh;
  background-color: #1a1a1a;
  color: #efeee5;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero .enzo_givernaud {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero .enzo_givernaud .enzo_creative,
.hero .enzo_givernaud .givernaud_developer {
  overflow: hidden;
  position: relative;
}
.hero .enzo_givernaud .enzo_creative h1,
.hero .enzo_givernaud .givernaud_developer h1 {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.hero .enzo_givernaud .enzo_creative .overlay_hero,
.hero .enzo_givernaud .givernaud_developer .overlay_hero {
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: #efeee5;
}
.hero .enzo_givernaud .enzo,
.hero .enzo_givernaud .creative,
.hero .enzo_givernaud .givernaud,
.hero .enzo_givernaud .developer {
  position: absolute;
  top: 0;
}
.hero .enzo_givernaud .bigzoo {
  opacity: 0;
}
.hero .enzo_givernaud .creative,
.hero .enzo_givernaud .developer {
  top: 160px;
}
.hero .wrap_text_scrolling {
  position: absolute;
  width: 50%;
  overflow-x: hidden;
  height: 10vh;
  bottom: 7.5vh;
  left: 50%;
  transform: translateX(-50%);
}
.hero .wrap_text_scrolling .text_scrolling {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
.hero .wrap_text_scrolling .text_scrolling span {
  display: inline-block;
  padding-left: 100%;
  animation: text_scrolling 40s linear infinite;
}
.hero .wrap_text_scrolling .text_scrolling span i {
  padding-inline: 20px;
}
.hero .wrap_text_scrolling .text_scrolling2 span {
  animation-delay: 20s;
}

p.scroll_txt {
  position: fixed;
  mix-blend-mode: difference;
  bottom: calc(50px - 1em);
}

@keyframes text_scrolling {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}
@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}
.cd_about_me {
  height: 100vh;
  width: 100vw;
  background: #efeee5;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}
.cd_about_me p {
  font-size: 2.75em;
  color: #1a1a1a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 57.5%;
  opacity: 0;
}
.cd_about_me p i {
  font-family: "Swifted";
  font-size: 1.5em;
  text-transform: capitalize;
}
.cd_about_me .basket_icon {
  width: 200px;
  z-index: 1;
}
.cd_about_me .curry {
  width: 300px;
  position: absolute;
  right: -350px;
  bottom: 0;
}
.cd_about_me .curve {
  width: 90%;
  height: 150%;
  position: absolute;
  clip-path: circle(0.3% at 0 100%);
  z-index: -1;
}
.cd_about_me .curve:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  display: block;
  border-top: 19px solid #1a1a1a;
  border-radius: 50%;
}

.basket-ball {
  overflow: hidden;
  opacity: 0;
  z-index: 2;
  margin-left: 4em;
  margin-top: 25em;
  width: 7em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fd7f00;
  background: -webkit-radial-gradient(center ellipse, #fd7f00 0%, #de6f00 100%);
  background: radial-gradient(ellipse at center, #fd7f00 0%, #de6f00 100%);
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.basket-ball:before, .basket-ball:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border: solid 0.2em #1a1a1a;
  border-radius: 50%;
  box-sizing: border-box;
}
.basket-ball .line1 {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-right: solid 0.2em #1a1a1a;
  box-sizing: border-box;
  right: 50%;
}
.basket-ball .line2 {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-top: solid 0.2em #1a1a1a;
  box-sizing: border-box;
  top: 50%;
}
.basket-ball:before {
  right: 70%;
}
.basket-ball:after {
  left: 70%;
}

.cd_works {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  position: fixed;
  clip-path: circle(0% at 50% 0);
  background-color: #1a1a1a;
}
.cd_works h1 {
  opacity: 1;
}
.cd_works img.img_works {
  width: clamp(300px, 80%, 700px);
  aspect-ratio: 16/9;
  position: absolute;
  bottom: calc(15vh + 2.5em);
  object-fit: cover;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
.cd_works img.web_development_img, .cd_works img.graphic_img, .cd_works img.audiovisual_img {
  opacity: 0;
}
.cd_works nav {
  width: 100%;
  position: absolute;
  bottom: 15vh;
  opacity: 0;
}
.cd_works nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Ginger";
  font-size: clamp(1.2em, 5vw, 3em);
}
.cd_works nav ul li {
  width: 33%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  color: #A5E8D3;
}
.cd_works nav ul li a {
  cursor: none;
  color: #A5E8D3;
  text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.7), 0px 15px 20px rgba(0, 0, 0, 0.4), 0px 25px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  overflow: hidden;
}
.cd_works nav ul li .novisible, .cd_works nav ul li .img_name {
  opacity: 0;
  position: absolute;
  opacity: 0;
  transform: translateY(0em) rotateX(-180deg);
  transition: all ease-in-out 0.5s;
}
.cd_works nav ul li .shadow_li {
  transform: translateY(0.6em) rotateX(-180deg);
  opacity: 0.3;
}

.audiovisuel_project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #A5E8D3;
}
.audiovisuel_project .cd_affiche {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.audiovisuel_project .cd_affiche .marker {
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.audiovisuel_project .cd_affiche #container_image_audiovisuel {
  position: relative;
}
.audiovisuel_project .cd_affiche #container_image_audiovisuel a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.audiovisuel_project .cd_affiche #container_image_audiovisuel img {
  width: clamp(300px, 100px + 50vw, 800px);
}
.audiovisuel_project .cd_affiche .titre_film {
  position: absolute;
  bottom: -75px;
  left: -50px;
  overflow: hidden;
  width: 100%;
  height: 22vh;
}
@media screen and (max-width: 520px) {
  .audiovisuel_project .cd_affiche .titre_film {
    bottom: -20px;
    left: -20px;
  }
}
.audiovisuel_project .cd_affiche .titre_film div {
  display: flex;
  position: absolute;
}
.audiovisuel_project .cd_affiche .titre_film div.titre1 {
  top: 2vh;
}
.audiovisuel_project .cd_affiche .titre_film div.titre2 {
  top: 22vh;
}
.audiovisuel_project .cd_affiche .titre_film div.titre3 {
  top: 22vh;
}
.audiovisuel_project .cd_affiche .titre_film div .space {
  padding-inline: 1.5vw;
}
.audiovisuel_project .cd_affiche .cd_movie {
  position: absolute;
  left: -100px;
  top: -75px;
  overflow: hidden;
  width: 10vw;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie {
  position: absolute;
  transform: rotate(-90deg);
  left: 0;
  color: #efeee5;
  font-size: 3em;
}
@media screen and (max-width: 520px) {
  .audiovisuel_project .cd_affiche .cd_movie h2.movie {
    display: none;
  }
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie:nth-child(1) {
  bottom: 50px;
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie:nth-child(2) {
  bottom: -150px;
}
.audiovisuel_project .cd_affiche .cd_movie h2.movie:nth-child(3) {
  bottom: -250px;
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre {
  position: absolute;
  top: clamp(-35px, -8vw, -50px);
  right: -30px;
  overflow: hidden;
}
@media screen and (max-width: 520px) {
  .audiovisuel_project .cd_affiche h2.audiovisuel_chiffre {
    right: 0px;
    top: -20px;
  }
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre i:nth-child(n+2) {
  position: absolute;
  left: 6vw;
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre i:nth-child(n+3) {
  top: 100px;
  display: block;
}
.audiovisuel_project .cd_affiche h2.audiovisuel_chiffre i span {
  visibility: hidden;
}

.inutile {
  position: absolute;
}

.cd_info_project {
  height: calc(100vh - 200px);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  margin-top: 100px;
  align-self: flex-start;
}
.cd_info_project h2,
.cd_info_project h3 {
  color: #A5E8D3;
  font-family: "JetBrains Mono regular";
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.cd_info_project h2 {
  font-family: "JetBrains Mono semibold";
}
.cd_info_project p {
  font-family: "JetBrains Mono light";
  font-size: 0.8em;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.cd_info_project .two_info_project {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.cd_info_project .two_info_project div {
  width: 45%;
}
.cd_info_project .info_project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.cd_info_project .info_project h3 {
  font-size: 2em;
  text-transform: capitalize;
}

.cd_image_project {
  width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-block: 100px;
  height: auto;
}
.cd_image_project div.project_cd_media {
  aspect-ratio: 16/9;
  width: 45%;
  overflow: hidden;
  position: relative;
}
.cd_image_project div.project_cd_media img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.cd_image_project div.project_cd_media iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cd_image_project div.project_cd_text {
  font-size: 3.5em;
  font-family: "Ginger";
  width: 45%;
  padding-block: 5vh;
}
.cd_image_project div.text1 {
  text-align: right;
}
.cd_image_project div.text2 {
  text-align: center;
  z-index: -1;
}
.cd_image_project div.text3 {
  text-align: left;
}
.cd_image_project div p {
  mix-blend-mode: difference;
}

/*# sourceMappingURL=style.css.map */
