.hero {
    height: 100vh;
    background-color: $black;
    color: $white;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .enzo_givernaud {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        .enzo_creative,
        .givernaud_developer {
            overflow: hidden;
            position: relative;

            h1 {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            }

            .overlay_hero {
                position: absolute;
                top: 0;
                left: -50%;
                width: 50%;
                height: 100%;
                background-color: $white;
            }
        }

        .enzo,
        .creative,
        .givernaud,
        .developer {
            position: absolute;
            top: 0;
        }

        .bigzoo {
            opacity: 0;
        }

        .creative,
        .developer {
            top: 160px;
        }

    }
    .wrap_text_scrolling{
        position: absolute;
        width: 50%;
        overflow-x: hidden;
        height: 10vh;
        bottom: 3vh;
        left: 50%; 
        transform: translateX(-50%);
        .text_scrolling {
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            span {
                display: inline-block;
                padding-left: 100%;
                animation: text_scrolling 40s linear infinite;
                i{
                    padding-inline: 20px;
                }
            }
        }
        
        .text_scrolling2 {
            span {
                animation-delay: calc(40s / 2);
            }
        }
        
     
    } 
    .hero_works{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $font-subtitle;
        font-size: 1.5em;
        letter-spacing: 20px;
        bottom: -7vh;
        align-self: center;
    }  
   
}
.scroll_txt{
    position: fixed;
    mix-blend-mode: difference;
    z-index: 10;
    top: 87vh;
    right: 50px;
    text-transform: capitalize;
    display: flex;
    padding-left: 30px;
    overflow-y: hidden;
    i{
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
        
        &:nth-of-type(1){
            top: -100%;
            animation: downScroll 2s ease infinite;
        }
        &:nth-of-type(2){
            top: -100%;
            animation: downScroll 2s ease 1s infinite;
        }
    }
}
@keyframes text_scrolling {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}
@keyframes wave-animation{
    0%{
        background-position:0 bottom;
    }
    100%{background-position:200px bottom;
    }
  }
  @keyframes loading-animation{
    0%{
        background-size:200px 0px;
    }
    100%{
        background-size:200px 200px;
    }
  }

  @keyframes downScroll{
    0%{
        transform: translateY(0%);
    }   
    100%{
        transform: translateY(400%);
    }
  }

    
