.hero_mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 85vw;
    height: 100vh;
    h1{
        text-align: center;
    }
    h2{
        align-self: flex-start;
        font-size: 1.25em;
        letter-spacing: 3px;
        color: $movie-green;
    }
    h3{
        align-self: flex-end;
        text-align: end;
        color: $movie-green;
    }
    a{
        align-self: flex-end;
        text-decoration: underline;
        text-transform: uppercase;
        font-family: $font-subtitle;
        letter-spacing: 1px;
        font-size: 1.5em;
        margin-top: -10px;
    }
    .scroll_txt{
        position: absolute;
        top: 72.5vh;
        left: -2.5vw;
    }

}