.cd_works{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    position: fixed;
    clip-path: circle(0% at 50% 0);
    background-color: $black;
    h1{
        opacity: 1;
    }
    img{
        &.img_works{
            width: clamp(300px, 80%, 700px);
            aspect-ratio: 16/9;
            position: absolute;
            bottom: calc(15vh + 2.5em);
            object-fit: cover;
            opacity: 0;
            transition: opacity ease-in-out 0.5s;
        }
        &.web_development_img, &.graphic_img, &.audiovisual_img{
            opacity: 0;
        }
    }
    
    nav{
        width: 100%;
        position: absolute;
        bottom: 15vh;
        opacity: 0;
        ul{
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-family: $font-subtitle;
            font-size: clamp(1.2em, 5vw, 3em);
            li{
                width: 33%;
                text-align: center;
                position: relative;
                display: flex;
                padding-top: 5%;
                justify-content: center;
                color: $movie-green;
                cursor: none;
                z-index: 20;
                a{
                    cursor: none;
                    color: $movie-green;
                    position: relative;
                    display: flex;
                    overflow: hidden;
                }
                .novisible, .img_name{
                    opacity: 0;
                    position: absolute;
                    opacity: 0;
                    transform: translateY(0em) rotateX(-180deg);
                    transition: all ease-in-out 0.5s;
                }
                .shadow_li{
                    transform: translateY(0.6em) rotateX(-180deg);
                    opacity: 0.3;
                }
            }
        }
    }
}

  
  .overlay_links {
    border: 1px solid $white;
    position: absolute;
    opacity: 0;
    width: calc(6vh + 6vw);
    height: calc(1vh + 5vw);
    border-radius: 50%;
    left: calc(8% + 15px);
    top: calc(-2vh + 55%);
    animation: blob 10s linear infinite;
    transition: left 0.5s ease-in-out;
  }
  
  
  @keyframes blob {
    0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
      20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
      40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
      60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
      80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
  }
  
