.audiovisuel_project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $movie-green;

    .cd_affiche {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        #container_image_audiovisuel {
            img {
                width: clamp(300px, calc(100px + 50vw), 800px);
            }
        }

        .titre_film {
            position: absolute;
            bottom: -75px;
            left: -50px;
            overflow: hidden;
            width: 100%;
            height: 22vh;
            @media screen and (max-width: 520px) {
                bottom: -20px;
                left: -20px;
            }
            div{
                display: flex;
                position: absolute;
                &.titre1{
                    top: 2vh;
                }
                &.titre2{
                    top: 22vh;
                }
                &.titre3{
                    top: 42vh;
                }
                .space{
                    padding-inline: 1.5vw;
                }
            }
        }

        position: absolute;
        .cd_movie{
            position: absolute;
            left: -100px;
            top: -75px;
            overflow: hidden;
            width: 10vw;
            height: 30vh;
            display: flex;
            justify-content: flex-start;
            text-align: left;
            h2.movie {
                position: absolute;
                transform: rotate(-90deg);
                left: 0;
                color: $white;
                font-size: 3em;
                @media screen and (max-width: 520px) {
                    display: none;
                }
                &:nth-child(1){
                    bottom: 50px;
                }
                &:nth-child(2){
                    bottom: -150px;
                }
                &:nth-child(3){
                    bottom: -250px;
                }
            }
        }
        
        h2.audiovisuel_chiffre {
            position: absolute;
            top: clamp(-35px, -8vw, -50px);
            right: -30px;
            overflow: hidden;

            @media screen and (max-width: 520px) {
                right: 0px;
                top: -20px;
            }

            i {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i+1}) {
                        position: absolute;
                        $top: -100+($i *100);
                        top: $top+px;
                        left: 6vw;
                    }
                }

                span {
                    visibility: hidden;
                }
            }
        }
    }
}

.inutile {
    position: absolute;
}