.hero{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    color: $black;
    @media screen and (max-width: 480px) {
        gap: 30px;
    }
    div{
        padding-top: 30px;
        overflow: hidden;
        display: flex;
    }// div
}// .hero