.webdev{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    color: $white;
    .cd_webdev_1{
        width: 75%;
        object-fit: cover;
        img{
            width: 120%;
        }
    }
}